@import url('https://fonts.googleapis.com/css?family=Quicksand');

.navfix {
    background-color: white !important;
    border-bottom: 1px solid #CBCBCB;
}

.userPic {
    border-radius: 50%;
    margin-right: 15px;
}

.topnav a {
    float: left;
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
    margin-left: 5rem;
    text-decoration: none !important;
    color: #212529;
}

.active {
    color: #EF7E31 !important;
}

.mainLogo{
  /* padding-right: 150px; */
}
.navfix i {
  display: none;
}

@media screen and (max-width: 600px) {
    .topnav {
      display: none;
      padding: 0 !important;
    }
    .navfix i {
      float: right;
      display: inline;
    }
    .mainLogo{
     margin-right: 150px;
    }
 
  }

  @media screen and (max-width: 375px) {
    .mainLogo{
     margin-right: 110px;
    }
 
  }

  @media screen and (max-width: 320px) {
    .mainLogo{
     margin-right: 90px;
    }
 
  }