.content{
    margin: 7%;
}

.budget-title{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 20px;
    color: #565656;
    display: flex;
    justify-content: center;
}
.active {
    color: #EF7E31 !important;
}


.content-menu a {
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
    text-decoration: none !important;
    color: #212529;
}

.content-board{
    margin-top: 20px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
}

.boxes {
    margin: 3%;
    display: flex;
	flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.notHired{
    opacity: 0.6;
}

.loader {
    -webkit-animation: spin 1s linear infinite;
            animation: spin 1s linear infinite;
    border: 3px solid #ddd;
    border-top: 3px solid #42a5f5;
    border-radius: 50%;
    height: 75px;
    width: 75px;
  }
  
  @-webkit-keyframes spin {
    to {
      border-top-color: #ec407a;
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  
  @keyframes spin {
    to {
      border-top-color: #ec407a;
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }