.budgetnav {
    background: #EF7E31;
    border-bottom: 1px solid #CBCBCB;
    margin-top: 4%;
}

.arrow{
    color: white;
    /* margin-left: 50px; */
}

.bar-content{
    /* display: flex;
    justify-content: center; */
    padding: 3px 0 3px 70px;
    margin: auto;
    color: white;
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 18px;
}

.bar-more{
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 14px;
    color: #FFFFFF;
}