.budgetnav {
    background: #EF7E31;
    border-bottom: 1px solid #CBCBCB;
    margin-top: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.arrow{
    color: white;
}

.bar-content{
    padding: 3px 0 3px 70px;
    margin: auto;
    color: white;
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 18px;
}

.bar-more{
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 14px;
    color: #FFFFFF;
}

.bar-more-m{
    display: none;
}

.bar-help-m{
    display: none;
}

@media screen and (max-width: 600px) {
    .bar-content{
        font-size: 15px;
        padding: 0px 0px 0px 40px;
    }

    .bar-more{
        font-size: 10px;
        display: none;
    }

    .bar-more-m{
        display: flex;
        justify-content: center;
        font-size: 12px;
        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
    }
    .bar-help-m{
        text-align: center;
        max-width: 45px;
        display: flex;
        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        font-size: 11.5px;
        color: #FFFFFF;
        justify-content: center
    }

    
}